<link rel="stylesheet" href="/css/floating-labels.css">
<form class="form-signin" action="/users/forgot" method="POST">    {{> _msg}} {{> _err}}
  <div class="text-center mb-4">
    <img class="mb-4" src="https://getbootstrap.com/assets/brand/bootstrap-solid.svg" alt="" width="72" height="72">
    <h1 class="h3 mb-3 font-weight-normal">Residential and Commercial Property Evaluation System</h1>
  </div>
      {{> _msg}} {{> _err}}
  <h6 class="font-weight-normal">Enter Your Registered Email to Change Password</h6>
  <div class="form-label-group">
    <input type="email" name="email" id="inputEmail" class="form-control" placeholder="Email address" required autofocus>
    <label for="inputEmail">Email address</label>
  </div>

  <button class="btn btn-lg btn-primary btn-block mb-3" type="submit">Submit</button>
  <p class='mb-3'><a href="/users/login"> Sign In </a> or
    <a href="/users/register"> Sign Up </a>now!</p>


  <p class="mt-5 mb-3 text-muted text-center">&copy; 2017-2018</p>
</form>