<form class="form-signin" action="/users/login" method="POST">
  <div class="text-center mb-4">
    <img class="mb-4" src="https://getbootstrap.com/assets/brand/bootstrap-solid.svg" alt="" width="72" height="72">
    <h1 class="h3 mb-3 font-weight-normal">Residential and Commercial Property Evaluation System</h1>
  </div>

  <div class="form-label-group">
    <input type="email" name="email" id="inputEmail" class="form-control" placeholder="Email address" required autofocus>
    <label for="inputEmail">Email address</label>
  </div>

  <div class="form-label-group">
    <input type="password" name="password" id="inputPassword" class="form-control" placeholder="Password" required>
    <label for="inputPassword">Password</label>
  </div>

  <div class="checkbox mb-1">
    <label>
      <input type="checkbox" value="remember-me"> Remember me
    </label>
  </div>
  <button class="btn btn-lg btn-primary btn-block mb-2" type="submit">Sign in</button>
  <small id='forgotPwd'><a href="/users/forgot">Forgot password ?</a></small>
  <p class='mb-3'>Don't have an account yet?<a href="/users/register" > Sign Up </a>now!</p>


  <p class="mt-5 mb-3 text-muted text-center">&copy; 2017-2018</p>
</form>