<link href="/css/style.css" rel="stylesheet">
<link href="/css/colors/purple.css" id="theme" rel="stylesheet">
<div class="preloader">
  <svg class="circular" viewBox="25 25 50 50">
    <circle class="path" cx="50" cy="50" r="20" fill="none" stroke-width="2" stroke-miterlimit="10" /> </svg>
</div>
<div id="main-wrapper">
  <header class="topbar">
    <nav class="navbar top-navbar navbar-toggleable-sm navbar-light">
        <!-- //header -->
      <div class="navbar-header">
        <a class="navbar-brand" href="/users/dashboard">
          <b>
            <img src="/images/logo-icon.png" alt="homepage" class="dark-logo" />
          </b>
          <span>
            <img src="/images/logo-text.png" alt="homepage" class="dark-logo" />
          </span>
        </a>
      </div>
    </nav>
  </header>
<aside class="left-sidebar">
  <div class="scroll-sidebar">
    <nav class="sidebar-nav">
      <ul id="sidebarnav">
        <li>
          <a href="/users/dashboard" class="waves-effect">
            <i class="fa fa-clock-o m-r-10" aria-hidden="true"></i>Dashboard</a>
        </li>
        <li>
          <a href="/users/profile" class="waves-effect">
            <i class="fa fa-user m-r-10" aria-hidden="true"></i>Profile</a>
        </li>
      </ul>

    </nav>
  </div>
</aside>
  <div class="page-wrapper">
    <div class="container-fluid">
      <div class="row page-titles">
        <div class="col-md-6 col-8 align-self-center">
          <h3 class="text-themecolor m-b-0 m-t-0">Profile</h3>
          <ol class="breadcrumb">
            <li class="breadcrumb-item">
              <a href="javascript:void(0)">Home</a>
            </li>
            <li class="breadcrumb-item active">Profile</li>
          </ol>
        </div>
      </div>
<div class="row">
  <div class="col-lg-8 col-xlg-9 col-md-7">
    <div class="card">
      <div class="card-block">
        <form class="form-horizontal form-material">
          <div class="form-group">
            <label class="col-md-12">Full Name</label>
            <div class="col-md-12">
              <input type="text" placeholder="Johnathan Doe" class="form-control form-control-line">
            </div>
          </div>
          <div class="form-group">
            <label for="example-email" class="col-md-12">Email</label>
            <div class="col-md-12">
              <input type="email" placeholder="johnathan@admin.com" class="form-control form-control-line" name="example-email" id="example-email">
            </div>
          </div>
          <div class="form-group">
            <label class="col-md-12">Password</label>
            <div class="col-md-12">
              <input type="password" value="password" class="form-control form-control-line">
            </div>
          </div>
          <div class="form-group">
            <label class="col-md-12">Phone No</label>
            <div class="col-md-12">
              <input type="text" placeholder="123 456 7890" class="form-control form-control-line">
            </div>
          </div>
          <div class="form-group">
            <div class="col-sm-12">
              <button class="btn btn-success">Update Profile</button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
  <!-- Column -->
</div>
    </div>
    <footer class="footer text-center">
      2018 ©
    </footer>
  </div>
</div>

<script src="https://npmcdn.com/tether@1.2.4/dist/js/tether.min.js"></script>
<script src="/js/jquery.slimscroll.js"></script>
<script src="/js/waves.js"></script>
<script src="/js/sidebarmenu.js"></script>
<script src="/js/sticky-kit.min.js"></script>
<script src="/js/custom.min.js"></script>
<script src="/js/jQuery.style.switcher.js"></script>