<link rel="stylesheet" href="/css/floating-labels.css">
<form class="form-signin"  method="POST">
  <div class="text-center mb-4">
    <img class="mb-4" src="https://getbootstrap.com/assets/brand/bootstrap-solid.svg" alt="" width="72" height="72">
    <h1 class="h3 mb-3 font-weight-normal">Residential and Commercial Property Evaluation System</h1>
  </div>

  <div class="form-label-group">
    <input type="password" name="password" id="inputPassword" class="form-control" placeholder="Password" required>
    <label for="inputPassword">Password</label>
  </div>

  <div class="form-label-group">
    <input type="password" name="password2" id="inputPassword2" class="form-control" placeholder="Confirm Password" required>
    <label for="inputPassword2">Confirm Password</label>
    <small id="message"></small>
  </div>

  <button class="btn btn-lg btn-primary btn-block mb-2" type="submit">confirm</button>
<p class='mb-3'>
  <a href="/users/login"> Sign In </a> or
  <a href="/users/register"> Sign Up </a>now!</p>
<p class="mt-5 mb-3 text-muted text-center">&copy; 2017-2018</p>
</form>